<p id="notice"><%= notice %></p>

<p>
  <strong>Observation:</strong>
  <%= @responsable.observation %>
</p>

<p>
  <strong>Date:</strong>
  <%= @responsable.date %>
</p>

<%= link_to 'Edit', edit_responsable_path(@responsable) %> |
<%= link_to 'Back', responsables_path %>
